@use "../util/" as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

// CSS reset set up by Andy. Go check his full blog post about it: https://piccalil.li/blog/a-modern-css-reset/

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
input,
p
{
  margin: 0;
}


@media (prefers-color-scheme: dark) {
	body.dark-scheme   { background:  #333; color: white; }
	.night.dark-scheme { background: black; color:  #ddd; }
}

body {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	min-height: 100vh;
	padding: 0;
	font-family: var(--font-body);
	font-size: var(--fs-300);
	background-color: var(--bg-color);
	color: var(--clr-letter);
	line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
	 scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
	  animation-duration: 0.01ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.01ms !important;
	  scroll-behavior: auto !important;
	}
}
	
// custom margin space between parent's children

.flow > :where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

h1{
	padding-top: rem(18);
	font-size: var(--fs-700);
}

// general

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}